[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
matplotlib = "*"
pandas = "*"
ansible = "*"
boto3 = "*"
invoke = "*"
beautifulsoup4 = "*"
lxml = "*"
openpyxl = "*"
requests = "*"

[requires]
python_version = "3.7"
